<h2>App-Component</h2>
<div class="container">
  <br><br>
  <app-view-child></app-view-child>
  <br><br>
  <app-frm-referencias></app-frm-referencias>
  <br><br>
  <app-contenedor></app-contenedor>
  <br><br>
  <app-formulario (outArrayUsuario) = "funDatosUsuario($event)"></app-formulario>
  {{vDescripcion}}
  <br><br>
  <app-personas></app-personas>
  <br><br>
  <app-persona></app-persona>
  <br><br>
  <app-inlinea></app-inlinea>
  <br><br>
  <app-calculadora></app-calculadora>
  <br><br>
<div>
